html{
    font-size: 62.5%;
}
body{
    font-size: 16px; /*1 rem = 10*/
}
.titulo{
    text-align: center;
    font-size: 3.8rem; /* son 38 pixeles*/
}
.titulo span{
    font-size: 2rem; /* son 20 pixeles*/
}