:root{
    /*Paleta de colores*/
    --blanco: #ffffff;
    --negro: #000000;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;

    /*Imágenes*/
    --hero-image: url(../img/hero.jpg);
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-size: 16px; /*1 rem = 10*/
    font-family: "Roboto", sans-serif;
}
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}
p{
    font-size: 1.3rem;
}

h1,h2,h3{
    text-align: center;
}

.hero-size{
    height: 90vh;
}
.titulo{
    text-align: center;
     /* son 38 pixeles*/
    
}
.titulo span{
    font-size: 2rem; /* son 20 pixeles*/
}
.contenedor{
    width: 120rem;
    margin: 0 auto;
}

.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    text-decoration: none;
    border-radius: 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
}

.boton:hover{
    color: var(--negro);
    background-color: var(--primario);
}

.nav-bg{
    background-color: var(--secundario);
}
.navegacion-principal{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.navegacion-principal a{
    color: var(--blanco);
    padding: 1rem;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
}

.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--negro);
}

.hero{
    background-image: var(--hero-image);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    position: relative;
   
}
.contenido-hero{
    position:absolute;
    font-size: 2rem;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.500);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.contenido-hero h2,
.contenido-hero p {
    color: var(--blanco);
}

.ubicacion{
    display: flex;
    align-items: flex-end;
}




@media (max-width: 1024px) {
    .hero-size{
        height: 87vh;
    }
}

@media (max-width: 480px) {
    .hero-size{
        height: 65vh;
    }
    .navegacion-principal{
        flex-direction: column;
        text-align: center;
    }
    .boton{
        width: 80%;
        text-align: center;
    }
}

