:root{
    /*Paleta de colores*/
    --blanco: #ffffff;
    --negro: #000000;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;

    /*custom properties*/
    --fuente-principal: 3.8rem;

    /*Imágenes*/
    --hero-image: url(../img/hero.jpg);
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-size: 16px; /*1 rem = 10*/
    font-family: "Roboto", sans-serif;
}
.hero-size{
    height: 90vh;
}
.titulo{
    text-align: center;
    font-size: var(--fuente-principal); /* son 38 pixeles*/
    
}
.titulo span{
    font-size: 2rem; /* son 20 pixeles*/
}
.contenedor{
    width: 120rem;
    margin: 0 auto;
}
.nav-bg{
    background-color: var(--secundario);
}
.navegacion-principal{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.navegacion-principal a{
    color: var(--blanco);
    padding: 1rem;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
}

.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--negro);
}

.hero{
    background-image: var(--hero-image);
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenido-hero{
    font-size: 4rem;
}








@media (max-width: 480px) {
    .navegacion-principal{
        flex-direction: column;
        text-align: center;
    }
}